:root{
    --font-signature: 'GIGI', sans-serif;
    --primary: #ddd280;
    --secondary: #f0efea;
    --font_color_nav: #544431;
}

@font-face {
    font-family: 'GIGI';
    src: url('../resource/font/GIGI.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(240, 237, 231);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 70px;
    padding: 0 2rem;
    margin-top: 1rem;
    width: 70%;
    background-color: var(--secondary);
    border-radius: 50px;
    z-index: 1000; 
    box-shadow: 
        0 0 16px rgba(221,210,128,0.7),
        0 0 32px rgba(221,210,128,0.5),
        0 0 2px var(--primary);
}
.logo {
    font-family: var(--font-signature);
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 
        0 0 4px rgb(189, 173, 56),
        0 0 4px rgb(221, 204, 75),
        0 0 8px rgba(221,210,128,0.9),
        0 0 16px rgba(221,210,128,0.7),
        0 0 16px rgba(221,210,128,0.7),
        0 0 32px rgba(221,210,128,0.5),
        0 0 2px var(--primary);
}
header img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 5rem;
    margin: 0;
    padding: 0;
}
nav ul li a {
    text-decoration: none;
    color: var(--font_color_nav);
    font-weight: 500;
    font-size: 1.3rem;
}
.nav-link {
    position: relative;
    text-decoration: none;
    color: var(--font_color_nav);
    font-weight: 500;
    padding: 4px 16px;
}
.nav-link.active {
    text-shadow: 
        0 0 4px rgb(189, 173, 56),
        0 0 4px rgb(221, 204, 75),
        0 0 8px rgba(221,210,128,0.9),
        0 0 16px rgba(221,210,128,0.7),
        0 0 16px rgba(221,210,128,0.7),
        0 0 32px rgba(221,210,128,0.5),
        0 0 2px var(--primary);
}
.nav-link.active::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    -webkit-mask: url("../resource/svg/her-trick-skeleton.svg") no-repeat center/contain;
    mask: url("../resource/svg/her-trick-skeleton.svg") no-repeat center/contain;
    background-color: #000000;
}
.nav-link.active::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    -webkit-mask: url("../resource/svg/his-treat-skeleton.svg") no-repeat center/contain;
    mask: url("../resource/svg/his-treat-skeleton.svg") no-repeat center/contain;
    background-color: #000000;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

section {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2.5rem;
    font-family: var(--font-signature);
    color: var(--font_color_nav);
    text-shadow: 
        0 0 4px rgb(189, 173, 56),
        0 0 4px rgb(221, 204, 75),
        0 0 8px rgba(221,210,128,0.9),
        0 0 16px rgba(221,210,128,0.7),
        0 0 16px rgba(221,210,128,0.7),
        0 0 32px rgba(221,210,128,0.5),
        0 0 2px var(--primary);
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 3rem;
    font-family: var(--font-signature);
    color: var(--font_color_nav);
    text-shadow: 
        0 0 4px rgb(189, 173, 56),
        0 0 4px rgb(221, 204, 75),
        0 0 8px rgba(221,210,128,0.9),
        0 0 16px rgba(221,210,128,0.7),
        0 0 16px rgba(221,210,128,0.7),
        0 0 32px rgba(221,210,128,0.5),
        0 0 2px var(--primary);
}

hr {
    width: 90%;
    border: 1px solid var(--primary);
    margin: 0 0 5rem 0;
}

.about-info {
    display: flex;
    flex-direction: column;
    color: var(--font_color_nav);
}

.about-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

#content_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.card_hover_1:hover{
    box-shadow:var(--shadow) rgb(91, 132, 255);
    transition: box-shadow 0.3s;
}
.card_hover_2:hover{
    box-shadow:var(--shadow) pink;
    transition: box-shadow 0.3s;
}
.card_hover_3:hover{
    box-shadow:var(--shadow) white;
    transition: box-shadow 0.3s;
}

.bottom_color_1{
    background: linear-gradient(180deg, rgba(255,255,255,0.0) 10%, rgba(106,154,131,0.06) 40%, rgb(91, 132, 255) 100%);
}
.bottom_color_2{
    background: linear-gradient(180deg, rgba(255,255,255,0.0) 10%, rgba(106,154,131,0.06) 40%, pink 100%);
}
.bottom_color_3{
    background: linear-gradient(180deg, rgba(255,255,255,0.0) 10%, rgba(106,154,131,0.06) 40%, black 100%);
}

.back_color_1{
    background: linear-gradient(180deg, white 0%, rgb(91, 132, 255) 100%);
}
.back_color_2{
    background: linear-gradient(180deg, white 0%, pink 100%);
}
.back_color_3{
    background: linear-gradient(180deg, white 0%, #000000 100%);
}

.back_font_1{ color: rgb(0, 64, 255); }
.back_font_2{ color: rgb(255, 76, 106); }
.back_font_3{ color: #ffffff; }

footer {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    color: var(--font_color_nav);
    font-size: 0.9rem;
}

.hamburger {
  display: none;
  font-size: 2rem;
  color: var(--font_color_nav);
  cursor: pointer;
  z-index: 1100;
}

@media (max-width: 1300px) {
    nav ul {
        gap: 3rem;
    }
    #content_card {
        gap: 3rem;
    }
}

@media (max-width: 1100px) {
    #content_card {
        flex-direction: column;
        margin: 50px;
        gap: 3rem;
    }
    .about-container {
        flex-direction: column;
        align-items: center;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        border-radius: 50px;
    }

    nav {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background: var(--secondary);
        border-radius: 20px; /* ทุกมุมโค้งเท่ากัน */
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        box-shadow:
            0 0 16px rgba(221,210,128,0.7),
            0 0 32px rgba(221,210,128,0.5),
            0 0 2px var(--primary);
    }

    nav.open {
         max-height: 300px;
    }

    nav ul {
         flex-direction: column;
         align-items: center;
         gap: 1.5rem;
         padding: 1rem 0;
    }

    .hamburger {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        margin-left: 1rem;
        z-index: 1100;
    }

    .home-logo img {
         height: 50px;
         width: 50px;
         border-radius: 50%;
         object-fit: cover;
         margin-right: 0.5rem;
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
    }
}