:root {
    --primary: #a90000;
    --secondary: #1a1913;
    --accent: #ddd280;
}

.content {
    display: flex;
    justify-items: center;
    align-items: center;
}

.card {
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    height: 300px;
}