:root{
    --card-w: 300px;
    --card-h: 430px;
    --radius: 22px;
    --shadow: 0 0px 36px;
    --font-signature: 'GIGI', sans-serif;
    --primary-1: #a90000;
    --primary-2: #ddd280;
    --secondary-1: #1a1913;
    --secondary-2: #f0efea;
}

@font-face {
    font-family: 'GIGI';
    src: url('../resource/font/GIGI.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../resource/image/death-the-devil-horror-satan-wallpaper-980e249098c9aff41e2990242a92a574.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#content_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.card_hover_1:hover{
    box-shadow:var(--shadow) var(--primary-1);
    /* transform:scale(1.03); */
    transition:transform 0.3s, box-shadow 0.3s;
}
.card_hover_2:hover{
    box-shadow:var(--shadow) var(--primary-2);
    /* transform:scale(1.03); */
    transition:transform 0.3s, box-shadow 0.3s;
}

.bottom_color_1{
    background: linear-gradient(180deg, rgba(255,255,255,0.0) 10%, rgba(106,154,131,0.06) 40%, var(--primary-1) 100%);
}
.bottom_color_2{
    background: linear-gradient(180deg, rgba(255,255,255,0.0) 10%, rgba(106,154,131,0.06) 40%, var(--primary-2) 100%);
}

.signature_color_1{
    text-shadow:
        0 0 4px rgba(169,0,0,1),
        0 0 4px rgba(169,0,0,1),
        0 0 8px rgba(169,0,0,0.9),
        0 0 16px rgba(169,0,0,0.7),
        0 0 16px rgba(169,0,0,0.7),
        0 0 32px rgba(169,0,0,0.5),
        0 0 2px var(--primary-1);
}
.signature_color_2 {
    text-shadow:
        0 0 4px rgb(189, 173, 56),
        0 0 4px rgb(221, 204, 75),
        0 0 8px rgba(221,210,128,0.9),
        0 0 16px rgba(221,210,128,0.7),
        0 0 16px rgba(221,210,128,0.7),
        0 0 32px rgba(221,210,128,0.5),
        0 0 2px var(--primary-2);;
}

.back_color_1{
    background: linear-gradient(180deg, var(--secondary-1) 50%, var(--primary-1) 100%);
}
.back_color_2{
    background: linear-gradient(180deg, var(--secondary-2) 50%, var(--primary-2) 100%);
}

.back_font_1{ color: #ffffff; }
.back_font_2{ color: #544431; }

@media (max-width: 768px) {
    #content_card {
        flex-direction: column;
        margin: 50px;
        gap: 3rem;
    }
}